/*Section: What we do*/
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#what .items .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {

  /*Align icon to left*/
  #what .items .item {
    display: flex;
    text-align: left;
  }

  /*Position icons*/
  #what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
  }

  #contact .map {
    flex: 2;
  }
}

/*Tablet layout*/

@media (max-width: 768px) {
  #what .items {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  /*Align icon to left*/
  #what .items .item {
    display: flex;
    text-align: left;
  }

  /*Position icons*/
  #what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
  }
}

/*Smartphones*/
@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .navbar ul {
    padding: 0.5rem;
  }

  .showcase .showcase-content {
    margin-top: -2rem;
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }

  #what .container .items .item {
    flex-direction: column;
  }

  #what .container .items .item div {
    text-align: center;
  }

  #what .container .items .item i {
    margin-bottom: 1rem;
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    flex-direction: column;
  }

  #contact .map {
    height: 200px;
    border-top: 4px solid #333;
  }
}